/* rgb(68, 103, 68) */
body,
h1,
h2,
p,
fieldset,
ul {
  padding: 0;
  margin: 0;
}
.main {
  flex-grow: 1;
  width: 1000px;
  margin: auto;
}
.button-group {
  margin-top: 20px;
  text-align: right;
}
.button {
  background-color: #eee;
  color: black;
  text-decoration: none;
  width: 80px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font: inherit;
}

/* ------------꼭 들어가야함--------------- */
.container {
  padding-top: 130px;
  padding-bottom: 130px;
  height: 169px;
}

.bg-img {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.submit-button {
  width: 100%;
  height: 40px;
  background-color: #346c82;
  color: white;
  font: inherit;
  border: 1px solid #2e5e71;
  border-radius: 4px;
  border-width: 0 0 3px 0;
}

.submit-button:active {
  border: 0;
  margin-top: 1px;
}
/* h-layout */
body {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* //h-layout */

/* header */
.header-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #346c82;
  padding-left: 65px;
  padding-right: 65px;
}
.header-head h1 a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 25px;
}

.header-head h1 a:hover,
.header-click a:hover,
.header-click button:hover {
  color: #ccc;
}

.header-click a,
.header-click button {
  padding: 10px 15px;
  margin-left: 10px;
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}
.header-click button {
  font: inherit;
  background: none;
  border: 0;
}
/* //header */

/* Home */
.home-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
/* //Home */

/* About us */
/* //About us */

/* Chat */
.chat-title {
  color: whitesmoke;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.chat-head,
.chat-p {
  text-align: center;
}
.chat-p {
  margin: 20px 0;
}
.chat-form > div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.chat-label {
  display: inline-block;
  width: 70px;
}
[type="text"] {
  width: 290px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.chat-field {
  border: 0;
  margin: 20px 0;
}
.chat-field legend {
  float: left;
}
legend {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  width: 50px;
}
.chat-field ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 10px;
}
.chatul li {
  /* 1.가로배치 */
  display: inline-block;
}
[type="checkbox"]:checked + label {
  font-weight: bold;
}

.chat-textarea {
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  height: 400px;
}
/* // Chat */

/* h-post (글쓰기) */
.post-head {
  margin: 60px 0 20px 0;
}
.post-p {
  margin-bottom: 20px;
}
.post-table {
  border-top: 2px solid black;
  border-bottom: 1px solid #ccc;
  width: 1000px;
  border-collapse: collapse;
}
.post-table th {
  background-color: #eee;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.post-table td {
  padding: 10px;
  border-top: 1px solid #ddd;
}
.post-category {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  height: 32px;
}
.post-title {
  width: 290px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* // h-post (글쓰기) */

/* index.html (글목록) */
.index-head {
  margin: 60px 0 10px 0;
}
.index-p {
  margin-bottom: 20px;
}
.index-table {
  border-top: 2px solid black;
  border-bottom: 1px solid #ccc;
  width: 1000px;
  border-collapse: collapse;
}
.index-thead {
  background-color: #eee;
  height: 32px;
}
.index-tbody {
  text-align: center;
}
.index-tr {
  border-top: 1px solid #ccc;
  height: 60px;
}
/* 선생님... 여기가 적용이 안됩니당.. */
.index-table a {
  display: block;
  text-align: left;
  padding: 8px 0;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
  text-decoration: none;
}
.button a {
  text-decoration: none;
  color: inherit;
}
/* //index.html (글목록) */

/* footer */
.footer-p {
  background-color: #eee;
  text-align: center;
  padding: 20px 0;
  margin-top: 80px;
  bottom: 0;
  color: #346c82;
  font-weight: bold;
}
/* //footer */
