html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p,
fieldset,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans KR", sans-serif;
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  padding-top: 15%;
  padding-bottom: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  background-position: center;
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.submit-button:active {
  border: 0;
  margin-top: 1px;
}

/* header */
.header-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: rgba(52, 108, 130, 0.7);
  position: fixed;
  top: 0;
  left: 0;
}
.header-title {
  padding-left: 7%;
}
.header-toggleBtn {
  display: none;
  position: absolute;
  right: 7%;
  font-size: 24px;
  color: whitesmoke;
  padding-top: 7px;
}
.header-head ul {
  padding-right: 7%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.header-head h1 a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 25px;
}

.header-head h1 a:hover,
.header-click a:hover,
.header-click button:hover {
  color: #ccc;
}

.header-click a,
.header-click button {
  padding: 10px 15px;
  margin-left: 10px;
  color: whitesmoke;
  font-weight: 500;
  text-decoration: none;
}
.header-click button {
  font: inherit;
  background: none;
  border: 0;
}
/* //header */
/* login */
#login-modal {
  display: none;
  width: 400px;
  padding: 20px 60px;
  background-color: #f4f3e7f2;
  border-style: none;
  border-radius: 10px;
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 5px;
}
.login-container {
  width: 100%;
  padding-top: 15%;
  padding-bottom: 12%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.description {
  padding: 15px 0;
}
.login > div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.label-width {
  display: inline-block;
  width: 70px;
}
.login-join-out {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.login-join {
  text-decoration: none;
  color: black;
}
.login-out {
  border-style: none;
  padding: 0;
  font-size: 16px;
}
/* //login */
/* home */
.home-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
/* //home */

/* about us */
.about-title {
  margin-bottom: 30px;
}
/* //about us */

/* chat */
.chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 500px; */
}
.chat-container {
  display: flex;
  justify-content: space-evenly;
}
.chat-return,
.chat-put {
  /* width: 60%; */
  margin: 10% 5%;
}
.chat-title {
  color: whitesmoke;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 500px; */
  margin: 0 auto;
}

.chat-head {
  margin-bottom: 20px;
  text-align: center;
}

.chat-form > div {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chat-label {
  margin: 5px 0;
  font-weight: 500;
}
[type="text"],
[type="password"] {
  width: 290px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 3px;
}
.chat-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0;
  margin: 20px 0;
}
.chat-field legend {
  font-weight: 500;
  float: left;
}

.chat-field ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 10px;
}
.chat ul li {
  /* 1.가로배치 */
  display: inline-block;
}
[type="checkbox"]:checked + label {
  font-weight: bold;
}

.chat-textarea {
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
  height: 330px;
  padding: 20px;
}

.submit-button {
  width: 100%;
  height: 40px;
  background-color: #346c82;
  color: white;
  font: inherit;
  border: 1px solid #2e5e71;
  border-radius: 4px;
  border-width: 0 0 3px 0;
}
.loader {
  border: 16px solid whitesmoke;
  border-top: 16px solid #346c82;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* // chat */

/* footer */
.footer-p {
  /* position: fixed; */
  background-color: #eee;
  text-align: center;
  padding: 2% 0;
  bottom: 0;
  color: #346c82;
  font-weight: bold;
}
/* //footer */
/* media */
@media screen and (max-width: 800px) {
  .header-head {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-head ul {
    display: none;
    margin: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header-head ul.active {
    display: flex;
  }
  .header-head ul li {
    margin: 10px 0;
  }
  .header-toggleBtn {
    display: block;
  }
  .home-logo {
    height: 150px;
  }
  #login-modal {
    padding: 20px;
    width: 70%;
  }
  .login {
    width: 100%;
  }
  .label-width {
    width: 35%;
  }
  .description {
    font-size: 14px;
  }
  .modal-close-btn {
    top: 0;
    right: 10px;
  }
  .chat-container {
    flex-direction: column;
    align-items: center;
  }
  .chat-title {
    font-size: x-large;
  }
  .chat-textarea {
    width: 100%;
  }
  .about-title {
    width: 300px;
  }
}
/* //media */
