/* rgb(68, 103, 68) */
html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p,
fieldset,
ul {
  padding: 0;
  margin: 0;
}
.main {
  flex-grow: 1;
  width: 1000px;
  margin: auto;
}
.button-group {
  margin-top: 20px;
  text-align: right;
}
.button {
  background-color: #eee;
  color: black;
  text-decoration: none;
  width: 80px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font: inherit;
}

/* ------------꼭 들어가야함--------------- */
.container {
  padding-top: 130px;
  padding-bottom: 130px;
  height: 169px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.submit-button:active {
  border: 0;
  margin-top: 1px;
}
/* h-layout */
body {
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* //h-layout */

/* Menu */
.header-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 90vw;
  /* background-color: #346c82; */
  background-color: rgba(52, 108, 130, 0.7);
  padding-left: 65px;
  padding-right: 65px;
  position: fixed;
  top: 0;
  left: 0;
}
.header-head ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.header-head h1 a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 25px;
}

.header-head h1 a:hover,
.header-click a:hover,
.header-click button:hover {
  color: #ccc;
}

.header-click a,
.header-click button {
  padding: 10px 15px;
  margin-left: 10px;
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}
.header-click button {
  font: inherit;
  background: none;
  border: 0;
}
/* //Menu */

/* Home */
.home-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
/* //Home */

/* About us */
.about-title {
  margin-bottom: 30px;
}
/* //About us */

/* Chat */
.chat-box {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  width: 40%;
}

.chat-title {
  color: whitesmoke;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 50%; */
  margin: 0 auto;
}

.chat-head {
  margin-bottom: 20px;
  text-align: center;
}

.chat-putinfo {
  margin-top: 25px;
}

.chat-form > div {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chat-label,
legend {
  margin: 5px 0;
  font-weight: 500;
}
[type="text"] {
  width: 290px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 3px;
}
.chat-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0;
  margin: 20px 0;
}
.chat-field legend {
  float: left;
}

.chat-field ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 10px;
}
.chat ul li {
  /* 1.가로배치 */
  display: inline-block;
}
[type="checkbox"]:checked + label {
  font-weight: bold;
}

.chat-textarea {
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  height: 300px;
  padding: 20px;
}

.submit-button {
  width: 100%;
  height: 40px;
  background-color: #346c82;
  color: white;
  font: inherit;
  border: 1px solid #2e5e71;
  border-radius: 4px;
  border-width: 0 0 3px 0;
}
/* // Chat */

/* footer */
.footer-p {
  background-color: #eee;
  text-align: center;
  padding: 20px 0;
  margin-top: 80px;
  bottom: 0;
  color: #346c82;
  font-weight: bold;
}
/* //footer */
