@media screen and (max-width: 800px) {
  .header-head {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-head ul {
    display: none;
    margin: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header-head ul.active {
    display: flex;
  }
  .header-head ul li {
    margin: 10px 0;
  }
  .header-toggleBtn {
    display: block;
  }
  .home-logo {
    height: 150px;
  }
  .join-container {
    padding-top: 130px;
  }
  .chat-container {
    flex-direction: column;
    align-items: center;
  }
  .chat-title {
    font-size: x-large;
  }
  .chat-textarea {
    width: 100%;
  }
  .about-title {
    width: 300px;
  }
}
